{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
</style>

<div class="content">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h1>Hey {{ app.user.firstName }}!</h1>
    {% else %}
    <h1>Hallo</h1>
    {% endif %}


    <p>Welkom op onze website. Zie de onderstaande lijst voor uitgelichte vacaturen.</p>

    <ul>
    {% for vacancy in vacancies %}
        <li><a href="/vacancy/{{ vacancy.id }}">{{ vacancy.name }}</a> bij {{ vacancy.employer.company.name }}, geplaatst op {{ vacancy.date|date('d/m/Y') }}.</li>
        {{ vacancy.summary }}
    {% endfor %}
    </ul>
</div>
{% endblock %}
