{% extends 'base.html.twig' %}

{% block title %}Hello SubmissionController!
{% endblock %}

{% block body %}
	<style></style>

	<div class="content">
		<h1>Sollicitatie</h1>
		<p>Je staat op het punt
			{{ existing_submission ? 'je sollicitatie ongedaan te maken' : 'je te solliciteren' }}
			voor de volgende vacature:</p>

		<ul>
			<li>Naam:
				{{ vacancy.name }}</li>
			<li>Geplaatst:
				{{ vacancy.date|date('d/m/Y') }}</li>
			<li>Bedrijf:
				{{ vacancy.employer.company.name }}</li>
			<li>Locatie:{{ vacancy.location }}
			</li>
		</ul>

		{% if existing_submission == NULL %}
			<p>Na het bevestigen van je sollicitatie, zal de werkgever je profiel kunnen inzien en contact met je opnemen. De sollicitatie zal verschijnen in je
				<a href="/submission/list">persoonlijke sollicitatielijst</a>, waar je de sollicitatie op ieder moment ongedaan zou kunnen maken.</p>
		{% elseif existing_submission != NULL %}
			<p>Nadat je je sollicitatie ongedaan hebt gemaakt, zal de sollicitatie verdwijnen uit je
				<a href="/submission/list">persoonlijke sollicitatielijst</a>. De werkgever kan dan niet langer je profiel inzien, maar controlleer of deze mogelijk al contact met je heeft opgenomen.</p>
		{% endif %}

		<p>Weet je zeker dat je verder wilt gaan?</p>

		<form method="post" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
			<input type="hidden" name="submission" value="{{ existing_submission ? 'remove' : 'add' }}">
			<button type="submit" name="submit">
				{{ existing_submission ? 'Maak sollicitatie ongedaan' : 'Bevestig sollicitatie' }}
			</button>
		</form>
	</div>
{% endblock %}
