{% extends 'base.html.twig' %}

{% block title %}
	{{ vacancy.name }}
{% endblock %}

{% block body %}
	<style></style>

	<div class="content">
		<small>{{ vacancy.date|date('d/m/Y') }}</small>
		<h1>{{ vacancy.name }}</h1>
		<ul>
			<li>Niveau:
				{{ vacancy.level }}</li>
			<li>Locatie:
				{{ vacancy.location }}</li>
			<li>Bedrijf:
				{{ vacancy.employer.company.name }}</li>
		</ul>
		<p>{{ vacancy.description }}</p>

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="/submission/{{ vacancy.id }}">Solliciteer direct</a>
		{% else %}

			<p>Als je wilt solliciteren voor deze vacature,
				<a href="/login">log dan eerst even in</a>.</p>
		{% endif %}

		{% if related_vacancies != NULL %}
			<h2>Meer vacatures van
				{{ vacancy.employer.company.name }}</h2>
			{# the below for loops and if-statements should become its own function in VacancyService for additional clarity #}
			<ul>
				{% for vacancy in related_vacancies %}
					<li>
						<a href="/vacancy/{{ vacancy.id }}">{{ vacancy.name }}</a>, geplaatst op
						{{ vacancy.date|date('d/m/Y') }}.</li>
					{{ vacancy.summary }}
				{% endfor %}
			</ul>
		{% endif %}

	</div>
{% endblock %}
